<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-3">Create New Post</h1>
        <%= render 'form', post: @post %>
      </div>
    </div>
  </div>
</section>
